.hmn {
    background-color: "#FFFFFF";
}

.big-button {
    height: "3rem";
    padding: "0.2rem 1.2rem";
    border-color: "#BBBBBB";
    border-radius: "0.4rem";
    text-transform: "uppercase";
    font-weight: 900;
}